<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration>
          <fieldMap type="Sitecore.ContentSearch.SolrProvider.SolrFieldMap, Sitecore.ContentSearch.SolrProvider">
            <fieldNames hint="raw:AddFieldByFieldName">
              <field fieldName="TrainingTitle" returnType="string" />
            </fieldNames>
          </fieldMap>
          <documentOptions>
            <fields hint="raw:AddComputedIndexField">
              <field fieldName="training_location" returnType="string" sourceField="Location" referenceField="Country Name">Foundation.Search.ComputedFields.ReferenceFieldComputedField, Foundation.Search</field>
              <field fieldName="training_course" returnType="stringCollection" sourceField="Course" referenceField="Title">Foundation.Search.ComputedFields.MultiSelectFieldComputedField, Foundation.Search</field>
			  <field fieldName="training_start_date" sourceField="StartDate" returnType="string">Foundation.Search.ComputedFields.DateFieldComputedField, Foundation.Search</field>
			  <field fieldName="training_end_date" sourceField="EndDate" returnType="string">Foundation.Search.ComputedFields.DateFieldComputedField, Foundation.Search</field>
			  <field fieldName="is_feature" returnType="bool">Foundation.Search.ComputedFields.BoolFieldComputedField, Foundation.Search</field>
			 <field fieldName="training_year" returnType="string" sourceField="StartDate" stringFormat="yyyy">Foundation.Search.ComputedFields.DateFieldComputedField, Foundation.Search</field>
            </fields>   
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>