<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<resolveSearchQueryTokens>
				<processor type="Foundation.Search.Pipelines.ResolveSearchQueryTokens.ExcludePastEvents, Foundation.Search" resolve="true" patch:before="*[1]" />
			</resolveSearchQueryTokens>
		</pipelines>
	</sitecore>
</configuration>